<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coisinhas dos Offset</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon"  type="image/png" href="/public/images/favicon.png">
</head>

<body class="<%= typeof page !== 'undefined' ? page : '' %>">

<header class="topbar">
  <div class="topbar-inner">
    <a href="/" class="brand brand-only-text">
      <img src="/images/logo_txt.png" alt="Coisinhas dos Offset" class="logo-text logo-text-main" />
    </a>

    <nav class="main-nav">
      <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register" class="nav-cta">Registo</a>
      <% } else { %>
        <a href="/dashboard">Dashboard</a>
        <a href="/barragem">Barragem</a>
        <a href="/armas">Armas</a>
        <a href="/acessorios">Acessórios</a>
        <a href="/carregadores">Carregadores</a>
        <a href="/items-fight">Items para Fight</a>

        <% if (user.is_admin === 1) { %>
          <a href="/admin">Admin</a>
        <% } %>

        <a href="/logout" class="nav-cta nav-logout">Sair</a>
      <% } %>
    </nav>
  </div>
</header>

<main class="page fade-in">
