<%- include('partials/header', { page: 'home' }) %>

<section class="hero">
  <div class="hero-content glass">
    <img src="/images/logo_semFundo.png" class="hero-logo" />
    <h1>Coisinhas dos Offset</h1>
    <p>Organiza tudo com estilo e privacidade.</p>

    <div class="hero-buttons">
      <a href="/register" class="btn btn-primary">Começar</a>
      <a href="/login" class="btn btn-secondary">Entrar</a>
    </div>
  </div>
</section>

<%- include('partials/footer') %>